<div class="col-sm-4 col-sm-offset-4">
<h2>Edit profile</h2>

<%= simple_form_for [@user] do |f| %>
   <div class="form-inputs">
    <%= f.input :first_name, autofocus: true %>
    <%= f.input :second_name,label: 'Last name', autofocus: true %>
    <%= f.input :age, label: 'How old are you?', autofocus: true %>
    <%= f.input :photo, label: 'Submit your profile picture' %>
    <%= f.input :photo_cache, as: :hidden %>
    <%= f.input :children, label: 'How many children do you have?', autofocus: true %>
    <%= f.input :children_age, label: 'How old are your children?', autofocus: true %>
    <%= f.input :bio,label: 'Tell us more about yourself:', autofocus: true %>
    <%= f.input :language, label: 'What languages do you speak?', autofocus: true %>
    <%= f.input :city, label: 'Where do you live?', autofocus: true %>
    <%= f.input :interest_category, collection: [['0', 'Reading'], ['1', 'Tech'], ["2","Food"], ["3","Mindfullness"], ["4","Sports"],["5","Parenting"], ["6", "Yoga"]], multiple: true, label_method: :second, label: "Select your interest: "%>
    <% f.association :interests, as: :check_boxes, label_method: :category, value_method: :id, include_blank: false %>

    <%f.association :locations, as: :radio_buttons, label_method: :city, value_method: :id, include_blank: false%>

    <%= f.input :work_status,label: 'Working full time?', autofocus: true %>

  <div class="form-actions">
    <%= f.button :submit, "Update info", class: "btn btn-block" %>
  </div>
<% end %>



</div>
