<div class="col-xs-12 col-sm-6 col-md-4 col-lg-3 flex-center">
  <div class="card cascading-card">
      <a id="cascading-card-link" href="<%= user_path(user) %>">
      <div class="cascading-card-image-mask">
        <%= truncate(user.bio,:length => 150) %>
        <br>
        <br>
        <%= user.first_name+" "+user.second_name %>
      </div>
      </a>
      <div class="cascading-card-image" style="background-image:url('<%= cl_image_path user.photo, crop: :fill %>')">
      </div>
      <div class="cascading-card-body .card-body">
        <div class="cascading-card-name">
          <%= user.first_name %>
        </div>
        <div class="cascading-card-city">
          <%= user.city %>
        </div>
        <!-- <div class="cascading-card-bio">
          <%= truncate(user.bio,:length => 150) %>
        </div> -->
        <div class="cascading-card-icons">
          <div class="card-icons-children-count">
            <%= image_tag("baby-icon.png", size: "25x25") %>
            <%= "X "+user.children.to_s %>
          </div>
          <% if user.pregnant %>
              <div class="card-icons-pregnancy-months">
                <%= image_tag("pregnant-icon.png", size: "25x25") %>
                <% date2 = user.pregnantdue %>
                <% date1 = Date.today %>
                <% months = (date2.year - date1.year) * 12 + date2.month - date1.month - (date2.day >= date1.day ? 0 : 1) %>
                <%=months.to_s+"M"%>
              </div>
          <% end %>
          <%# raise %>
          <div class="card-icons-shopping-items">

          </div>
        </div>
      </div>
  </div>
</div>
