<div class="col-xs-12 col-xs-offset-4 col-sm-6 col-sm-offset-0 col-md-3 col-md-offset-0">
  <div class="card cascading-card">
      <a id="cascading-card-link" href=""></a>
      <div class="cascading-card-image" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)),url('<%= cl_image_path user.photo, height: 250, crop: :fill %>')">
      </div>
      <div class="cascading-card-body .card-body">
        <div class="cascading-card-name">
          <%= user.first_name+" "+user.second_name %>
        </div>
        <div class="cascading-card-city">
          <%= user.city %>
        </div>
        <div class="cascading-card-icons">
          <div class="card-icons-children-count">
            <%= image_tag("baby-icon.png", size: "30x30") %>
            <%= "X "+user.children.to_s %>
          </div>
          <% if user.pregnant %>
              <div class="card-icons-pregnancy-months">
                <%= image_tag("pregnant-icon.png", size: "30x30") %>
                <% date2 = user.pregnantdue %>
                <% date1 = Date.today %>
                <% months = (date2.year - date1.year) * 12 + date2.month - date1.month - (date2.day >= date1.day ? 0 : 1) %>
                <%= months.to_s+"M" %>
              </div>
          <% end %>
          <%# raise %>
          <div class="card-icons-shopping-items">

          </div>
        </div>
      </div>
  </div>
</div>
