<div class="class row">
<div class="col-xs-12 col-sm-6 col-md-4 col-lg-3">
<div class="class flex-center-activities">
 <div class="class activity-cascading-card">
  <p> My posted activities: </p>
    <% @user_activities.each do |user_activity| %>
      <ul><%= image_tag user_activity.user.photo.url%></ul>
      <div class="class cascading-activity-card-body">
        <ul>
          <div class="class activity-card-name">
          <%= user_activity.user.first_name %>
          </div>
         </ul>
        <ul>
          <div class="class activity-bio">
          <%= user_activity.description.gsub(/[~;:"'<>?#\s\]\\\[]+/, '') %>
          </div>
        </ul>
        <ul>
          <div class="activity-card-city">
          <%= user_activity.location %>
          </div>
        </ul>
          <div class="class activity-card-icons">
            <ul><span class="glyphicon glyphicon-calendar"></span> <%= user_activity.date%></ul>
            <ul><span class="glyphicon glyphicon-time"></span><%= user_activity.time %></ul>
          </div>
      </div>
    <% end %>
  <p> Activities posted:</p>
    <% @other_activities.each do |activity| %>
        <ul><%= image_tag activity.user.photo.url%></ul>
        <div class="class cascading-activity-card-body">
          <ul>
            <div class="class activity-card-name">
            <%= activity.user.first_name %>
            </div>
          </ul>
          <ul>
            <div class="class activity-bio">
            <%= activity.description.gsub(/[~;:"'<>?#\s\]\\\[]+/, '') %>
            </div>
          </ul>
          <ul>
            <div class="activity-card-city">
            <%= activity.location %>
            </div>
          </ul>
            <div class="class activity-card-icons">
              <ul><span class="glyphicon glyphicon-calendar"></span> <%= activity.date%></ul>
              <ul><span class="glyphicon glyphicon-time"></span> <%= activity.time.strftime("%H:%M") %></ul>
            </div>
        </div>
    <% end %>
 </div>
</div>
</div>
</div>
