<div class="container" style="color: grey;">
  <div class="location-title-wrapper">
    <h1> Start connecting with other mums </h1>
  </div>

  <br>
  <div class="row">
    <div class="col-sm-8 col-sm-offset-2">
      <div class="row">
        <%= form_tag locations_path, method: :get do %>
        <div class="col-xs-9">
          <div class="form-group">
            <%= text_field_tag :query, params[:query], class: "form-control", placeholder: "Please choose your city..." %>
          </div>
        </div>
        <div class="col-xs-3">
          <%= submit_tag 'Search', name: nil, class: "btn btn-search btn-block" %>
        </div>
        <% end %>
      </div>

    </div>
  </div>
  <div id="search-container">
    <% if @locations.nil? || @locations.empty? %>
    <div class="post-button-container">
      <p>  </p>
      <%#= link_to "Post me for this movie!", "#", class: "btn btn-md" %>
    </div>
    <% else %>
    <div class="row">
      <% @locations.each do |location| %>
      <div class="col-xs-12 col-sm-6">
        <%= link_to location_matches_path(location) do %>
        <div class="card-user">
         <div class="picture">
          <% if location.user.photo %>
          <div class="user-profile-photo">
            <%= image_tag location.user.photo %>
          </div>
          <% else %>
          <div class="empty-picture"">
            <p>-- No picture --</p>
          </div>
          <% end %>
        </div>
        <div class="friend-details">
          <p><i class="glyphicon glyphicon-user"></i> <%= location.user.first_name %></p>
        </div>
        <div class="pic-location">
          <p><i class="glyphicon glyphicon-map-marker"></i><%= location.city %></p>
        </div>
        <div class="children">
          <p><i class="fa fa-child"></i><%= location.user.children %></p>
        </div>
      </div>
      <% end %>
    </div>
    <% end %>
  </div>
  <% end %>
</div>

 <div class="container" style="color: grey;">
  <div class="row">
    <div class="col-sm-8 col-sm-offset-2">
      <div class="row">
        <%= form_tag interests_path, method: :get do %>
        <div class="col-xs-9">
          <div class="form-group">
            <%= text_field_tag :query, params[:query], class: "form-control", placeholder: "Please choose your interests..." %>
          </div>
        </div>
        <div class="col-xs-3">
          <%= submit_tag 'Search', name: nil, class: "btn btn-search btn-block" %>
        </div>
        <% end %>
      </div>
    </div>
  </div>
  <div id="search-container">
    <% if @interests.nil? || @interests.empty? %>
      <%#= link_to "Post me for this movie!", "#", class: "btn btn-md" %>
    <% else %>
    <div class="class row">
      <% @interests.each do |interest| %>
        <%= link_to user_path(@user) do %>
        <% unless interest.user == @user %>
          <div class="card_interest">
          <div class="class interest">
          <p><i class="glyphicon glyphicon-heart"></i> <%= interest.category %></p>
          </div>
          <div class="picture">
           <% if interest.user.photo %>
              <div class="user-profile-photo">
                <%= image_tag interest.user.photo %>
              </div>
            <% else %>
            <div class="empty-picture"">
              <p>-- No picture --</p>
            </div>
            <% end %>
          </div>
          <div class="interest-details">
          <p><i class="glyphicon glyphicon-user"></i> <%= interest.user.first_name %></p>
          </div>
        </div>
       <% end %>
      <% end %>
      <% end %>
    </div>
  <% end %>
  </div>
</div>
</div>
</div>
</div>

