
<div class="matchcontainer">
  <div class="row">
    <div class="col-xs-12 col-sm-6">
      <div class="carduserpairing">
        <h3 style="padding: 20px 0 0 20px; display: flex; justify-content: center;"><%= @match.user.first_name %> & <%= @match.location.user.first_name %></h3>
        <div class = "cardimageuserpairing">
          <%= image_tag @match.user.photo.url, class: "style_image"   %>
          <%= image_tag @match.location.user.photo.url, class: "style_image"  %>
        </div>
      </div>
      <div class="col-xs-12 col-sm-6">
        <div class="messagebox">
          <%= simple_form_for ([@location, @match]) do |f| %>
          <br>
          <div class="form-inputs">
            <%= f.input :status, label: "Your message: ", placeholder:"Tell your Mumamiga why you are excited to become her friend.", as: :text %>
          </div>
          <div class="form-actions text-center">
            <%= f.submit "Send friend request", class: 'btn btn-search btn-block' %>
          </div>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>


















