<div class="col-sm-4 col-sm-offset-4">
<div class="form-inputs">
  <%= simple_form_for @activity do |f| %>
    <%= f.input :description %>
    <%= f.input :location %>
    <%= f.input :category%>
    <%= f.input :category, collection: ['Reading', 'Tech' ,'Food', 'Mindfullness', 'Sports', 'Parenting', 'Yoga', 'Shopping', 'Childcare', 'Music', 'Design', 'Culture', 'Current Events', 'Languages', 'Literature', 'Programming', 'Writing'], input_html: { multiple: true }, include_blank: true, include_hidden: false, label: "Select your interest: "%>
    <%= f.input :time %>
    <%= f.input :date %>
    <%= f.input :image %>
    <%= f.input :image_cache, as: :hidden %>
    <%= f.button :submit %>
  <% end %>
</div>
</div>
