<div class="container" style="color: grey;">
  <div class="location-title-wrapper">
    <h1>Find friends nearby... </h1>
  </div>

  <br>
  <div class="row">
    <div class="col-sm-8 col-sm-offset-2">
      <div class="row">
        <%= form_tag locations_path, method: :get do %>
        <div class="col-xs-9">
          <div class="form-group">
            <%= text_field_tag :query, params[:query], class: "form-control", placeholder: "Please choose your city..." %>
          </div>
        </div>
        <div class="col-xs-3">
          <%= submit_tag 'Search', name: nil, class: "btn btn-search btn-block" %>
        </div>
        <% end %>
      </div>
    </div>
  </div>
  <div id="search-container">
    <% if @locations.nil? || @locations.empty? %>
    <div class="post-button-container">
      <p> No nearby mums in your location yet... </p>
      <%#= link_to "Post me for this movie!", "#", class: "btn btn-md" %>
    </div>
    <% else %>
    <div class="row">
      <% @locations.each do |location| %>
      <div class="col-xs-12 col-sm-6 full-padded">
        <div class="card-user">
         <div class="picture">
          <% if location.user.photo %>
            <div class="user-profile-photo">
              <%= location.user.photo %>
            </div>
          <% else %>
          <div class="empty-picture"">
              <p>-- No picture --</p>
          </div>
          <% end %>
        </div>
        <div class="friend-details">
          <p><i class="glyphicon glyphicon-user"></i> <%= location.user.first_name %></p>
        </div>
        <div class="pic-location">
          <p><i class="glyphicon glyphicon-map-marker"></i><%= location.city %></p>
        </div>
      </div>
    </div>
    <% end %>
  </div>
  <% end %>
</div>

