<div class="navbar-wagon">
  <!-- Dropdown appearing on mobile only -->
    <div class="navbar-wagon-dropdown-left hidden-md hidden-lg">
      <i class="fa fa-bars" data-toggle="dropdown"></i>

      <ul class="dropdown-menu dropdown-menu-right navbar-wagon-dropdown-menu-left">
        <li><%= link_to "Get Matched!", matches_path, class: "navbar-wagon-cta navbar-wagon-link"%></li>
        <li><%= link_to "Activities", friends_path, class: "navbar-wagon-item navbar-wagon-link"%></li>
        <li><%= link_to "Friends", friends_path, class: "navbar-wagon-item navbar-wagon-link"%></li>
        <li><%= link_to "Messages", conversations_path, class: "navbar-wagon-item navbar-wagon-link"%></li>
      </ul>

    </div>

  <!-- Logo -->
  <a href="/" class="navbar-wagon-brand">
    <div class="logo">
    <%= image_tag "logo.png" %>
    <h5>Mumamigas</h5>
    </div>
  </a>

  <!-- Right Navigation -->

  <div class="navbar-wagon-navigation hidden-xs hidden-sm">
    <%= link_to "Get Matched!", matches_path, class: "navbar-wagon-navigation-item navbar-wagon-link navbar-wagon-cta"%>
    <%= link_to "Activities", activities_path, class: "navbar-wagon-navigation-item navbar-wagon-link"%>
    <%= link_to "Friends", friends_path, class: "navbar-wagon-navigation-item navbar-wagon-link"%>
    <%= link_to "Messages", conversations_path, class: "navbar-wagon-navigation-item navbar-wagon-link"%>
  </div>

    <!-- Profile picture with dropdown list -->
  <div class="navbar-wagon-item">
    <% if user_signed_in? %>
      <div class="dropdown">
        <% avatar_url = current_user.photo.url(:button_thumb) || "http://placehold.it/30x30"%>
        <%= image_tag avatar_url, class: "avatar dropdown-toggle", id: "navbar-wagon-menu-right", "data-toggle" => "dropdown" %>
        <ul class="dropdown-menu dropdown-menu-right navbar-wagon-dropdown-menu-right">
          <li><%= link_to "Profile", user_path(current_user)%></li>
          <li><%= link_to "Logout", destroy_user_session_path, method: :delete %></li>
        </ul>
      </div>
    <% else %>
      <div class="dropdown">
        <% avatar_url = "http://placehold.it/30x30"%>
        <%= image_tag avatar_url, class: "avatar dropdown-toggle", id: "navbar-wagon-menu", "data-toggle" => "dropdown" %>
        <ul class="dropdown-menu dropdown-menu-right navbar-wagon-dropdown-menu-right">
          <li><%= link_to "Login", new_user_session_path, class: "navbar-wagon-item navbar-wagon-link"%></li>
          <li><%= link_to "Sign Up", new_user_registration_path, class: "navbar-wagon-item navbar-wagon-link"%> </li>
       </ul>
      </div>
    <% end %>
  </div>
</div>
